<header class="bg-transparent absolute w-full z-20 top-0 left-0">
  <nav class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 px-2 md:px-10">
    <div class="flex gap-x-4">
      <button data-collapse-toggle="navbar-sticky" type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="block h-6 w-6" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
        </svg>
      </button>
      <a href="https://flowbite.com/" class="flex items-center">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Arvis Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ARVIS</span>
      </a>
    </div>
    <div class="flex md:order-2">
      <button type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Contáctanos
      </button>

    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col font-medium md:flex-row md:space-x-4">
        <li>
          <a href="#"
             class="bg-gray-700 text-white rounded-md px-3 py-2 text-sm font-medium"
             aria-current="page">Inicio</a>
        </li>
        <li>
          <a href="#"
             class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 font-medium">Nosotros</a>
        </li>
        <li>
          <a href="#"
             class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 font-medium">Servicios</a>
        </li>
        <li>
          <a href="#"
             class="text-white hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 font-medium">Portafolio</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
