<section class="flex justify-center items-center bg-home-a__page h-screen">
  <div class="max-w-7xl mx-auto px-0 md:px-16 lg:px-8 pt-40 md:pt-24 pb-14 md:pb-0">
    <div class="text-center text-white mb-10">
      <h1 class="text-5xl md:text-8xl font-semibold mb-4">Software Development Experts</h1>
      <div class="max-w-2xl mx-auto py-8 md:py-10">
        <p class="text-lg md:text-2xl text-gray-400 pb-8 md:pb-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis dolore expedita explicabo id in iure
          laborum.
        </p>

        <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-8 py-4 text-center">
          Iniciar proyecto
        </button>
      </div>
    </div>

    <div class="mt-auto">
      <ul class="flex flex-wrap gap-y-4 gap-x-16 items-center justify-center text-gray-400 select-none">
        <li>
          <span class="">Extensive work experience</span>
        </li>
        <li>
          <span class="">Flexible working conditions</span>
        </li>
        <li>
          <span class="">Large and friendly team</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="max-w-7xl mx-auto px-5 md:px-16 lg:px-8 pt-14 pb-10 md:pt-14">
  <div class="flex flex-wrap gap-y-4 xl:py-4">
    <div class="md:w-1/2 pr-4 pl-4">
      <img src="https://dummyimage.com/500x500" alt="Image" class="rounded-xl">
    </div>
    <div class="lg:w-2/5 pr-4 pl-4 md:w-1/2 pr-4 pl-4 lg:mx-1/6 flex">
      <div class="self-center lg:ps-0 md:ps-6">
        <h2 class="text-2xl md:text-4xl font-medium lg:mb-6 mb-3">Award-Winning Software Company</h2>
        <p class="mb-4 lg:pb-4 text-lg font-normal">
          pharetra sed at fringilla etiam nullam platea fringilla. Gravida sodales sit mauris amet massa justo. Egestas
          ipsum amet tortor hendrerit amet phasellus adipiscing. Eget porta posuere pellentesque sed commodo gravida
          dignissim dignissim iaculis. Elementum nibh duis at in.
        </p>
        <a href="#"
           class="text-blue-700 bg-white border border-blue-700 hover:text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-6 py-2.5 text-center">
          Conocenos más
        </a>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="max-w-7xl mx-auto px-5 md:px-16 lg:px-8 pt-14 pb-20 md:pt-10 md:pb-28">
    <div class="flex flex-col text-center w-full mb-16">
      <h2 class="text-2xl md:text-4xl font-medium title-font mb-4 text-gray-900">Servicios</h2>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn
        asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep
        jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap -m-0 lg:-m-8 text-center">
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
            <line x1="8" y1="21" x2="16" y2="21"></line>
            <line x1="12" y1="17" x2="12" y2="21"></line>
          </svg>
          <h2 class="title-font font-medium text-xl text-gray-900 mb-4">Software Development</h2>
          <p class="leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis,
            voluptate.</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
            <line x1="12" y1="18" x2="12.01" y2="18"></line>
          </svg>
          <h2 class="title-font font-medium text-xl text-gray-900 mb-4">App Development</h2>
          <p class="leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, laboriosam.</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
            <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
            <line x1="6" y1="6" x2="6.01" y2="6"></line>
            <line x1="6" y1="18" x2="6.01" y2="18"></line>
          </svg>
          <h2 class="title-font font-medium text-xl text-gray-900 mb-4">Support &amp; Maintence</h2>
          <p class="leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsa.</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
            <rect x="9" y="9" width="6" height="6"></rect>
            <line x1="9" y1="1" x2="9" y2="4"></line>
            <line x1="15" y1="1" x2="15" y2="4"></line>
            <line x1="9" y1="20" x2="9" y2="23"></line>
            <line x1="15" y1="20" x2="15" y2="23"></line>
            <line x1="20" y1="9" x2="23" y2="9"></line>
            <line x1="20" y1="14" x2="23" y2="14"></line>
            <line x1="1" y1="9" x2="4" y2="9"></line>
            <line x1="1" y1="14" x2="4" y2="14"></line>
          </svg>
          <h2 class="title-font font-medium text-xl text-gray-900 mb-4">Software QA &amp; Testing</h2>
          <p class="leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, illum.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="max-w-7xl mx-auto px-5 md:px-16 lg:px-8 pt-14 pb-10 md:pt-14">
  <div class="flex flex-col gap-y-4">
    <h2 class="text-2xl md:text-4xl font-medium">Portafolio</h2>
    <div class="flex flex-col md:flex-row justify-between items-end">
      <p class="text-lg text-gray-700 w-full md:w-1/2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad earum eos facere in, inventore natus? Dolore modi
        neque recusandae.
      </p>
      <a href="#"
         class="text-blue-700 bg-white border border-blue-700 hover:text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-6 py-2.5 text-center">
        Ver todos
      </a>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-8 pt-14">

    <div class="w-full md:w-1/2 bg-white border border-gray-200 rounded-lg shadow">
      <a href="#">
        <img class="rounded-t-lg" src="https://dummyimage.com/1200x700" alt=""/>
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so
          far, in reverse chronological order.</p>
        <a href="#"
           class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="w-full md:w-1/2 bg-white border border-gray-200 rounded-lg shadow">
      <a href="#">
        <img class="rounded-t-lg" src="https://dummyimage.com/1200x700" alt=""/>
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so
          far, in reverse chronological order.</p>
        <a href="#"
           class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Read more
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>

  </div>
</section>


<section class="text-gray-600 body-font">
  <div class="max-w-7xl mx-auto px-5 md:px-16 lg:px-8 pt-14 pb-10 md:pt-14">
    <h1 class="text-2xl md:text-4xl font-medium title-font text-gray-900 mb-12 text-center">Que Dicen Nuestros
      Clientes</h1>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4"
               viewBox="0 0 975.036 975.036">
            <path
              d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
          </svg>
          <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra
            before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard
            pabst authentic iceland.</p>
          <a class="inline-flex items-center">
            <img alt="testimonial" src="https://dummyimage.com/106x106"
                 class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
              <span class="text-gray-500 text-sm">UI DEVELOPER</span>
            </span>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4"
               viewBox="0 0 975.036 975.036">
            <path
              d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
          </svg>
          <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra
            before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard
            pabst authentic iceland.</p>
          <a class="inline-flex items-center">
            <img alt="testimonial" src="https://dummyimage.com/107x107"
                 class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Alper Kamu</span>
              <span class="text-gray-500 text-sm">DESIGNER</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="max-w-7xl mx-auto px-5 md:px-16 lg:px-8 pt-14 pb-10 md:pt-14">
  <div class="w-full text-center border bg-gray-800 border-gray-700 rounded-xl shadow p-10 py-16 md:p-20">
    <p class="mb-6 text-gray-300 font-medium text-2xl">¿Estas listo para empezar?</p>
    <h2 class="mb-16 text-2xl md:text-4xl font-bold text-white">Desarrolla Tu Proyecto con Nosotros</h2>
    <button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-8 py-4 text-center">
      Estoy listo
    </button>
  </div>
</section>

