<section class="flex justify-center items-center bg-home-a__page h-screen">
  <div class="max-w-7xl mx-auto px-0 md:px-16 lg:px-8 pt-40 md:pt-24 pb-14 md:pb-0">
    <div class="text-center text-white mb-10">
      <h1 class="text-5xl md:text-8xl font-semibold mb-4">Software Development Experts</h1>
      <div class="max-w-2xl mx-auto py-8 md:py-10">
        <p class="text-lg md:text-2xl text-gray-400 pb-8 md:pb-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis dolore expedita explicabo id in iure
          laborum.
        </p>

        <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-8 py-4 text-center">
          Iniciar proyecto
        </button>
      </div>
    </div>

    <div class="mt-auto">
      <ul class="flex flex-wrap gap-y-4 gap-x-16 items-center justify-center text-gray-400 select-none">
        <li>
          <span class="">Extensive work experience</span>
        </li>
        <li>
          <span class="">Flexible working conditions</span>
        </li>
        <li>
          <span class="">Large and friendly team</span>
        </li>
      </ul>
    </div>
  </div>
</section>
