/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home-a__page {
  background: #0b0f19;
}

@screen md {
  .bg-home-a__page {
    background-image: url(assets/images/backgrounds/hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}
